.passport {
    margin-top: 80px;

    @include until($tablet) {
        margin-top: 30px;
    }
}

.passport__title {
    text-align: left;

    @include until($tablet) {
        font-size: 28px;
    }
}

.passport__location-wrapper {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: 45px;
    margin: 35px 0;
    align-items: center;
    background: $color-salad;
}

.passport__location {
    width: 100%;
    text-align: center;
    @include font-medium;
    @include font-helvetica-roman;
    color: $color-black;
}

.passport__info {
    display: flex;
    margin-bottom: 8px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.passport__info-label {
    width: 35%;
    text-transform: uppercase;
    color: $color-white;
    @include font-medium;
    @include font-bebas-nue;
    line-height: 40px;

    @include until($tablet) {
        font-size: 20px;
    }
}

.passport__info-value {
    width: 65%;
    max-width: 320px;
    padding-left: 20px;
    background: #172d3c;
    color: $color-white;
    @include font-normal;
    @include font-helvetica-roman;
    line-height: 40px;
}

.passport__pdf {
    margin-top: 60px;
    color: $color-white;
    @include font-small;
    @include font-helvetica-roman;
}


.passport-bars {
    display: block;
    padding-top: 25px;
    
    @include from($desktop) {
        width: 65%;
    }
}

.passport__bars-wrapper {
    @include until($desktop) {
        display: flex;
        align-items: center;
    }
}

.passport-bars__energy {
    height: auto;
    margin-bottom: 15px;
}

.passport-bars__properties {
    height: auto;
    
    @include from($tablet) { 
        position: relative;
        right: 18px;
    }
}

.passport__components {
    margin-top: 10px;
}

.passport__component {
    display: flex;
    margin-bottom: 10px;
}

.passport__component-label {
    width: 30%;
    color: $color-grey;
    @include font-bebas-nue;
    @include font-normal;
    line-height: 40px;

    @include until($tablet) {
        width: 80px;
    }
}

.passport__component-value {
    width: 70%;
    color: $color-white;
    @include font-bebas-nue;
    @include font-normal;
    line-height: 40px;
}

