.ready-solutions__title {
    @include from($desktop) {
        margin-top: 70px;
    }
}

.ready-solutions__description {
    margin-top: 30px;

    @include until($desktop) {
        text-align: center;
    }

    @include from($desktop) {
        max-width: 400px;
    }
}

.ready-solutions__image {
    width: 100%;
    height: 400px;
    background: url('/images/ready_solutions__optimal.jpg') no-repeat center;
    background-size: cover;
}

.ready-solutions__carousel {
    .carousel__arrow {
        position: relative;
        bottom: 20px;
    }

    @include until($desktop) {
        .carousel__item {
            text-align: center;
        }
    }
}

.ready-solutions__type {
    @include font-large;
    color: $color-white;
    margin: 10px 0 15px 0;
}