<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-beauty__title title--lined title--lened-offset">Красота в доме</div>
            <div class="solution-beauty__description text mt-5">
                Неповторимый внешний вид — отличительная черта этого окна, выполненного 
                в эксклюзивных цветовых решениях профиля и стекла, со скрытыми петлями и дизайнерскими ручками. 
                Кроме того, оно обеспечивает надежную защиту дома от сквозняков, шума и сырости, 
                а также вашей личной жизни от посторонних глаз благодаря зеркальной наружной поверхности.

                <ul>
                    <li>неповторимый внешний вид</li>
                    <li>эффект зеркальности – ходи в чем хочешь</li>
                    <li>гармоничное сочетание с вашим интерьером/экстерьером</li>
                </ul>
            </div>
            <div class="button button--arrow-right button--apply solution-beauty__button mt-5" data-value="beauty">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-beauty__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-beauty__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-beauty__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-beauty__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>