<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-optimal__title title--lined title--lened-offset">Оптимальный выбор</div>
            <div class="solution-optimal__description text mt-5">
                Эти надёжные окна — оптимальный выбор для большинства покупателей, 
                которые ищут идеальный баланс качества и затрат. <br>
                Данная модель является золотым стандартом, 
                который эффективно удовлетворит все ваши базовые потребности:

                <ul>
                    <li>сохранение тепла зимой</li>
                    <li>прохлады летом</li>
                    <li>приятный глазу дизайн</li>
                </ul>
            </div>
            <div class="button button--arrow-right button--apply solution-optimal__button mt-5" data-value="optimal">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-optimal__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-optimal__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-optimal__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-optimal__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>