<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-safe__title title--lined title--lened-offset">Безопасность в доме</div>
            <div class="solution-safe__description text mt-5">
                Если безопасность для вас главное, то эта модель обязательно вам понравится. 
                С такими окнами вы и ваша семья будут под надежной защитой.

                <ul>
                    <li>внешняя безопасности для защиты от взлома</li>
                    <li>внутренняя безопасность для защиты от осколков и предотвращении выпадения детей из окна</li>
                </ul>
            </div>
            <div class="button button--arrow-right solution-safe__button mt-5">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-safe__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-safe__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-safe__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-safe__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>