<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-silence__title title--lined title--lened-offset">Тишина в доме</div>
            <div class="solution-silence__description text mt-5">
                Созданные для поддержания идеального микроклимата, 
                эти окна обладают высочайшим уровнем звукоизоляции и сохраняют
                в помещении абсолютный покой, все звуки останутся снаружи вашего дома:

                <ul>
                    <li>забудьте о стрессах</li>
                    <li>обеспечьте спокойный сон</li>
                    <li>концентрируйтесь на важном</li>
                </ul>
            </div>
            <div class="button button--arrow-right solution-silence__button mt-5">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-silence__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-silence__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-silence__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-silence__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>