<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-sun__title title--lined title--lened-offset">Солнце в доме</div>
            <div class="solution-sun__description text mt-5">
                Эти окна в полной мере обеспечивают пространство естественным светом и, 
                одновременно, защищают его от ультрафиолетовых лучей,
                предотвращая выгорание предметов интерьера. Кроме того данная, модель препятствует 
                чрезмерному нагреву помещения и позволяет экономить на кондиционировании.

                <ul>
                    <li>естественное освещение</li>
                    <li>защита от ультрафиолета предотвращает от выгорания интерьера</li>
                    <li>защита от нагрева помещения позволяет экономить на охлаждении помещения</li>
                </ul>
            </div>
            <div class="button button--arrow-right button--apply solution-sun__button mt-5" data-value="sun">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-sun__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-sun__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-sun__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-sun__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>