<div id="<%- id %>" class="overlay is-hidden">
    <div class="overlay__close"></div>
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="solution-warm__title title--lined title--lened-offset">Тепло в доме</div>
            <div class="solution-warm__description text mt-5">
                За внешней оболочкой этого окна скрываются технологии теплопередачи,
                которые позволяют ему быть невероятно энергоэффективным, справляться
                с экстремально низкими температурами и большими счетами за отопление.
                Даже если улицу трескучие морозы, ваши дети могут спокойно играть на полу — тепло не уходит из помещения. 

                <ul>
                    <li>Экономия на отоплении</li>
                    <li>Не нужно утепляться, дети играют на полу</li>
                    <li>Меньше простуд и болезней - стоп простудные болезни</li>
                </ul>
            </div>
            <div class="button button--arrow-right button--apply solution-warm__button mt-5" data-value="warm">
                <div class="button__link">Оставить заявку</div>
            </div>
        </div>
    
        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel solution-warm__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="carousel__image carousel__image--brown-bordered solution-warm__image-1"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-warm__image-2"></div>
                    </div>
                    <div class="carousel__item is-hidden">
                        <div class="carousel__image carousel__image--brown-bordered solution-warm__image-3"></div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
        </div>
    </div>
</div>