// --- > Кнопки --- >
.button {
    border: 2px solid $color-brown;
    background: none;
    border-radius: 0;
    min-width: 210px;
    @include font-helvetica-light;

    &:hover {
        .button__link {
            color: $color-brown;
        }
    }
}

.button--arrow-down {
    .button__link {
        &::after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
            left: 5px;
            background: url('/images/arrow_brown.png') no-repeat center;  
            background-size: contain;
        }
    }

    &:hover {
        .button__link {
            &::after {
                opacity: 0.6;
            }
        }
    }
}

.button--arrow-right {
    .button__link {
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
            background: url('/images/arrow_brown_right.png') no-repeat center;  
            background-size: contain;
        }
    }

    &:hover {
        .button__link {
            &::after {
                opacity: 0.6;
            }
        }
    }
}

.button__link {
    @include font-normal;
    color: white;
}
//  < --- Кнопки < --- 