.carousel {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.carousel--img {
    .carousel__arrow {
        position: relative;
        bottom: 20px;
    }

    @include until($desktop) {
        .carousel__item {
            text-align: center;
        }
    }
}

.carousel__arrow {
    display: flex;
    height: 60px;
    width: 40px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.carousel__arrow--left {
    background: url("/images/arrow_left.png") no-repeat center;
    background-size: contain;
}

.carousel__arrow--right {
    background: url("/images/arrow_right.png") no-repeat center;
    background-size: contain;
}

.carousel__items {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

.carousel__item {
    width: 100%;

    &:not(.is-hidden) {
        animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.8s; /* don't forget to set a duration! */
    }
}

.carousel__image {
    width: 100%;
    height: 400px;
    background: url('/images/solution__image--1.jpg') no-repeat center;
    background-size: cover;
}

.carousel__image--brown-bordered {
    border: 2px solid $color-brown;
}

.carousel__label {
    @include font-large;
    color: $color-white;
    margin: 10px 0 15px 0;
}