// --- > Cсылки, якори --- >
.link {
    color: $color-white;
    transition: color 0.2s;

    &:hover {
        cursor: pointer;
        color: $color-brown !important;
        text-shadow: 2px 2px 4px rgba($color: $color-black, $alpha: 0.4);
    }
}

.link--green {
    color: $color-green;
    border-bottom: 1px solid $color-green;

    &:hover {
        border-bottom: 1px solid $color-brown;
    }
}

.anchor {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;

    @include until($desktop) {
        height: 100px;
    }
}

.anchor__arrow {
    display: block;
    width: 80px;
    height: 50px;
    margin: 0 auto;
    background: url('/images/arrow.png') no-repeat center;
    background-size: contain;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
// < --- Cсылки, якори < ---