.modal {
    &.is-active {
        .modal-content {
            animation: backInDown; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 0.4s; /* don't forget to set a duration! */
        }
    }
}

.modal__close-button {
    height: 20px;
    width: 20px;
    position: relative;
    left: 40px;
    bottom: 20px;
    float: right;
    background: url('/images/close.png') no-repeat center;
    background-size: contain;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.modal-content {
    background: $color-deep-blue;
   
    min-height: 400px;
    padding: 30px 50px;

    .title--lined {
        max-width: 258px;
    }

    @include from($desktop) {
        min-width: 900px;
    }
}