.overlay__close {
    height: 40px;
    width: 40px;
    float: right;
    position: relative;
    bottom: 50px;
    background: url('/images/close.png') no-repeat center;
    background-size: contain;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}