.pageloader {
    background: #020410;  /* fallback for old browsers */
    background: -webkit-linear-gradient( 112.1deg, #020410 11.4%, #080e21 70.2% );
    background: linear-gradient( 112.1deg, #020410 11.4%, #080e21 70.2% );
}