.footer {
    margin-top: 160px;
    padding: 0;
    background: none;

    @include until($tablet) {
        margin-top: 80px;
    }
}

.footer__columns {
    border-top: 2px solid #9595956e;
}

.footer__desclaimer {
    @include font-helvetica-roman;
    @include font-normal;
    color: $color-brown;
}