.headline {
    margin-top: 35px;
}

.headline__title {
    color: $color-brown;
    @include font-helvetica-roman;
    @include font-extra-large;
    

    &:first-of-type {
        margin-bottom: 8px;
    }

    @include from($widescreen) {
        padding-left: 50px;
    }
}

.headline__band {
    margin: 25px 0;
    width: 250px;
    height: 5px;
    background: $color-green;
} 

.headline__description {
    @include font-helvetica-roman;
    @include font-normal;
    color: $color-white;

    @include from($widescreen) {
        padding-left: 50px;
    }
}

.headline__banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 750px;
    opacity: 0.8;
    transition: opacity 1s; 

    @include until($desktop) {
        display: none;
    }
}

.headline__banner--fade {
    opacity: 0;
}

.headline__banner--img1 {
    background: url('/images/banner_g3_1.png') no-repeat top left;
    background-size: contain;
}

.headline__banner--img2 {
    background: url('/images/banner_g3_2.png') no-repeat top left;
    background-size: contain;
}

.headline__banner--img3 {
    background: url('/images/banner_g3_3.png') no-repeat top left;
    background-size: contain;
}