// Шапка сайта
// Верхнее меню
.top-navbar {
    display: flex;
    height: 140px;
    align-items: center;
    
    @include until($desktop) {
        display: block;
        height: auto;
        min-height: 120px;
    }
}

.top-navbar__logo {
    width: 30%;
    float: left;

    @include until($desktop) {
        position: absolute;
        top: $mobile-offset;
        left: $mobile-offset;

        .logo {
            background-position: top left;
        }
    }
}

.top-navbar__burger {
    position: absolute;
    top: $mobile-offset;
    right: $mobile-offset;

    height: 45px;
    width: 45px;
    background: url('/images/burger_icon.png') no-repeat center;
    background-size: contain;
    opacity: 0.8;

    &:hover, &:active {
        opacity: 0.9;
    }

    @include from($desktop) {
        display: none;
    }
}

.top-navbar__items {
    width: 70%;
    float: left;
    z-index: 10;

    &.expanded {
        padding-top: 100px;
        padding-bottom: 30px;
        display: block;
        
        animation: bounceInDown; 
        animation-duration: 0.8s; 
    }

    @include until($desktop) {
        width: 100%;
        display: none;
    }

    @include widescreen-only {
        width: 80%;
    }

    @include desktop-only {
        width: 140%;
        padding-left: 20px;
    }
}

.top-navbar__item {
    display: inline-flex;
    float: left;
    height: 16px;
    padding: 0 10px;
    
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 14px;

    border-right: 3px solid $color-green;
    color: $color-white;


    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
        border-right: none;
    }

    @include from($widescreen) {
        font-size: 20px;
    }

    @include until($desktop) {
        font-size: 20px;
        display: block;
        float: none;
        padding: 15px 0;
        line-height: 0;
        border-right: none;
    }
}