.passport-check__columns {
    min-height: 280px;

    @include until($tablet) {
        min-height: 195px;
    }
}

.passport-check__description {
    padding: 0 30px;
    color: $color-white;
    @include font-normal;

    @include from($desktop) {
        padding: 0 120px;
    }

    @include until($tablet) {
        padding: 0;
    }

}

.passport-check__form {
    .input {
        max-width: 260px;
        background: $color-white;
        border: 2px solid $color-brown;
        color: $color-deep-blue;
        font-weight: bold;
        @include font-normal;

        &::placeholder {
            color: $color-grey;
            font-weight: bold;
        }
    }

    .field {
        margin-bottom: 3px;
    }

    @media only screen and (min-width: 658px) and (max-width: 768px)  {
        width: 50%;
        text-align: center;
        float: left;
    }
}

.passport-check__hint {
    @media only screen and (min-width: 658px) and (max-width: 768px)  {
        width: 50%;
        text-align: center;
        float: left;

        .button {
            width: 260px;
        }
    }
}

.passport-check__destination {
    display: inline-block;
    line-height: 17px;

    &:not(.is-invisible) {
        animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 0.8s; /* don't forget to set a duration! */
    }
}