body {
    background: $color-blue;
    background: url('/images/template_background.jpg') no-repeat center;
    background-position: center center;
    background-size: cover;
    // background-image: linear-gradient( 112.1deg, #020410 11.4%, #080e21 70.2% );
   
    @include font-helvetica-light();
}

.container {
    @include until($desktop) {
        padding: 0 $mobile-offset;
    }
}

.container--blue {
    background: rgb(19,52,80);
    background: linear-gradient(25deg, #13202924 0%, #13334e 100%);
}

.container--padding {
    padding: 30px;
}

.container--padding-large {
    padding: 120px 50px 50px 50px;

    @include until($desktop) {
        padding: 40px;
    }
}

.space-top-large {
    margin-top: 120px;

    @include until($tablet) {
        margin-top: 60px;
    } 
}

.space-top-medium {
    margin-top: 60px;

    @include until($tablet) {
        margin-top: 50px;
    }
}

.tab {
    @include font-normal;
}
