.logo-passport {
    display: block;
    height: 80px;
    width: 100%;
    background: url('/images/logo_passport.png') no-repeat center left;
    background-size: contain;
}

.logo-rosenheim {
    display: block;
    height: 80px;
    width: 100%;
    background: url('/images/logo_rosenheim.png') no-repeat center left;
    background-size: contain;
}
