// Переменные

// Цвета
$color-green: #37b34a;
$color-white: white;
$color-grey: #959595;
$color-blue: #001a35;
$color-aqua-blue: #254052;
$color-dark-blue: rgb(5, 5, 8);
$color-brown: #b19f6b;
$color-black: #000000;
$color-red: #f14668;

// Размеры
$mobile-offset: 20px;