<div class="container">
    <div class="benefits">

        <div class="title benefits__main-title">Преимущества окна <br> с паспортом</div>

        <div class="benefits__item">
            <div class="benefits__info benefits__info--first">
                <div class="benefits__number">01</div>
                <div class="benefits__title">Лидеры отрасли</div>
                <div class="benefits__text">
                    Системный паспорт окна создан по инициативе G3 —
                    большой тройки лидеров в производстве оконных компонентов,
                    чьи бренды сегодня являются синонимами продукции 
                    высочайшего качества во всем мире.
                </div>
                <div class="benefits__button button">
                    <a class="button__link" href="#">Узнать больше</a>
                </div>
            </div>

            <div class="benefits__banner benefits__banner_1"></div>
        </div>

        <div class="benefits__devider">
            <div class="benefits__devider_left"></div>
            <div class="benefits__devider_right"></div>
        </div>

        <div class="benefits__item">
            <div class="benefits__banner benefits__banner_2 is-hidden-mobile"></div>

            <div class="benefits__info benefits__info--second">
                <div class="benefits__number">02</div>
                <div class="benefits__title">Увеличенная гарантия <br> и подтвержденное качество</div>
                <div class="benefits__text">
                    Европейская система контроля качества подтверждает качество окон с паспортом G3.
                    Поэтому отдельные их компоненты обладают улучшенной гарантией, вплоть до пожизненной.
                </div>
                <div class="benefits__button button">
                    <a class="button__link" href="#">Узнать больше</a>
                </div>
            </div>
            
            <div class="benefits__banner benefits__banner_2 is-hidden-tablet"></div>
        </div>

        <div class="benefits__devider">
            <div class="benefits__devider_left"></div>
            <div class="benefits__devider_right"></div>
        </div>

        <div class="benefits__item">
            <div class="benefits__info benefits__info--last">
                <div class="benefits__number">03</div>
                <div class="benefits__title">Простой выбор <br> для многолетней эксплуатации</div>
                <div class="benefits__text">
                    Эксперты отрасли разработали комплектации,
                    которые максимально отвечают конкретным свойствам.
                    Вам нужно лишь определиться,
                    что в окне для вас самое важное.
                </div>
                <div class="benefits__button button">
                    <a class="button__link" href="#">Узнать больше</a>
                </div>
            </div>
            
            <div class="benefits__banner benefits__banner_3"></div>
        </div>

    </div>
</div>