<div class="feedback">
    <div class="container">
        <div class="column">
            <div class="title title--main">Обратная связь</div>
        </div>
    </div>

    <div class="container">
        <div class="container--blue">
            <div class="columns">
                <div class="column is-4-tablet">
                    <div class="feedback__contact feedback__contact--phone">тел. : +7 495 000-00-00</div>
                    <div class="feedback__contact feedback__contact--email">email: info@g3.ru</div>
                </div>

                <div class="column">
                    <form class="feedback__form">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"><span class="form-required">*</span>ФИО</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                    <input class="input input--white" type="text" name="feedback__name">
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"><span class="form-required">*</span>E-mail</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                    <input class="input input--white" type="text" name="feedback__email">
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"><span class="form-required">*</span>Телефон</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                    <input class="input input--white" type="text" name="feedback__phone">
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"></label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="label">Текст сообщения</label>
                                        <textarea class="textarea input--white" name="feedback__text"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                              <label class="label"></label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Подтверждаю обработку персональных данных
                                  </label>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"></label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button button--arrow-down">
                                            <div class="button__link">Отправить</div>
                                        </button>
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label"></label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                    <div class="text mt-4">Поля отмеченные <span class="form-required">*</span> обязательны для заполнения</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>