<div class="container">
    <div class="columns headline">
        <div class="column is-5 is-12-touch">
            <h1 class="headline__title">Оригинальное качество.</h1>
            <h1 class="headline__title">Понятный выбор.</h1>
            <div class="headline__band"></div>
            <div class="headline__description">
                Современное окно — это сложная система, состоящая из различных компонентов, 
                и для контроля её качества необходим комплексный структурный подход.
                Именно поэтому лидеры индустрии, компании REHAU, Roto и AGC, 
                объединились в Большую тройку (G3) и создали 
                Системный паспорт окна — простой и понятный документ, 
                который не только содержит полное описание характеристик и облегчает выбор, 
                но и подтверждает высокое качество изделия.
                Теперь вы всегда будете знать, что покупаете.
            </div>
        </div> 
    </div>
</div>

<div class="headline__banner--clip"></div>
<div class="headline__banner--clip headline__banner--clip-3"></div>
<div class="headline__banner--clip headline__banner--clip-4"></div>
<div class="headline__banner--clip headline__banner--clip-a"></div>
<div class="headline__banner--clip headline__banner--clip-1"></div>
<div class="headline__banner--clip headline__banner--clip-2"></div>
<div class="headline__banner--clip headline__banner--clip-b"></div>