<header class="header">
    <div class="container">
        <div class="top-navbar">
            <div class="top-navbar__logo">
                <div class="logo logo-passport"></div>
            </div>
            <a role="button" class="top-navbar__burger" aria-label="menu" aria-expanded="false"></a>
            <div class="top-navbar__items">
                <div class="top-navbar__item"><a class="link link-anchor" href="#benefits">О паспорте окна</a></div>
                <div class="top-navbar__item"><a class="link link-anchor" href="#window">Подбор окон</a></div>
                <div class="top-navbar__item"><a class="link link-anchor" href="#passport-check">Проверка паспорта окна</a></div>
                <div class="top-navbar__item"><a class="link link-anchor" href="#dealers-map">Карта дилеров</a></div>
                <div class="top-navbar__item"><a class="link link-anchor" href="#feedback">Контакты</a></div>
            </div>
        </div>
    </div>
</header>