<div class="passport-check">
    <div class="container">
        <div class="column">
            <div class="title title--main">Проверка паспорта окна</div>
        </div>
    </div>
    <div class="container">
        <div class="container--blue">
            <div class="columns is-vcentered passport-check__columns">
                <div class="column is-8">
                   <div class="passport-check__description">
                        Окна с Паспортом окна G3 имеют подтверждающий документ и стикер с QR-кодом. 
                        Чтобы проверить своё окно, можно просто считать QR-код или ввести ID окна в поле справа.
                   </div>
                </div>
    
                <div class="column">
                    <form class="passport-check__form">
                        <div class="sub-title">Введите ID вашего окна</div>
                        <input class="input passport-check__input" type="text" name="passport-number" placeholder="XXXX-XXXX-XXXX" autocomplete="off">
                        <p class="help is-danger">Некорректный номер</p>
                    </form>
                    <div class="passport-check__hint">
                        <div class="sub-title">Где найти ID окна?</div>
                        <div class="button button--arrow-down link--modal">
                            <div class="button__link">Смотреть</div>
                        </div>
                    </div>
                </div>  
            </div>
        </div> 
    </div>
</div>