<svg id="energy-panel" width="100%" height="100%" viewBox="0 0 158 107" fill="none" xmlns="http://www.w3.org/2000/svg">
    <text class="energy-panel__title" fill="white" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="0" y="7.0865">КЛАСС ЭНЕРГОЭФФЕКТИВНОСТИ</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="75" y="50.0865">A</tspan></text>
    <path d="M70.407 43H0V51.7428H70.407V43Z" fill="url(#paint0_linear)"/>
    <path class="energy-value energy-value__5" d="M143.139 51.7428H157.991V43H143.139L139 47.4415L143.139 51.7428Z" fill="white"/>
    <path class="energy-value energy-value__5" d="M141 47.5L85 47.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__5" fill="#0D0D0D" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="147" y="49.5865">A</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="87" y="64.0865">B</tspan></text>
    <path d="M82.4772 57H0V65.7428H82.4772V57Z" fill="url(#paint1_linear)"/>
    <path class="energy-value energy-value__4" d="M143.139 65.7428H157.991V57H143.139L139 61.4415L143.139 65.7428Z" fill="white"/>
    <path class="energy-value energy-value__4"d="M141 61.5L98 61.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__4" fill="#0D0D0D" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="147" y="64.0865">B</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="98" y="77.0865">C</tspan></text>
    <path d="M93.544 70H0V78.7428H93.544V70Z" fill="url(#paint2_linear)"/>
    <path class="energy-value energy-value__3" d="M143.139 78.7428H157.991V70H143.139L139 74.4415L143.139 78.7428Z" fill="white"/>
    <path class="energy-value energy-value__3" d="M141 74.5L107 74.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__3" fill="#0D0D0D" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="147" y="76.5865">C</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="111" y="91.0865">D</tspan></text>
    <path d="M106.116 84H0V92.7428H106.116V84Z" fill="url(#paint3_linear)"/>
    <path class="energy-value energy-value__2" d="M143.139 92.7428H157.991V84H143.139L139 88.4415L143.139 92.7428Z" fill="white"/>
    <path class="energy-value energy-value__2" d="M141 88.5L120 88.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__2" fill="#0D0D0D" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="147" y="90.5865">D</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="123" y="105.087">F</tspan></text>
    <path d="M118.304 98H0V106.743H118.304V98Z" fill="url(#paint4_linear)"/>
    <path class="energy-value energy-value__1" d="M143.139 106.743H157.991V98H143.139L139 102.441L143.139 106.743Z" fill="white"/>
    <path class="energy-value energy-value__1" d="M141 102.5L131 102.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__1" fill="#0D0D0D" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="147" y="104.587">F</tspan></text>
    <text fill="white" xml:space="preserve" style="white-space: pre" font-size="7.64286" letter-spacing="-0.05em"><tspan x="64" y="36.0865">A+</tspan></text>
    <path d="M59.1558 29H0V37.7428H59.1558V29Z" fill="url(#paint5_linear)"/>

    <path class="energy-value energy-value__6" d="M143.139 37.7428H157.991V29H143.139L139 33.4415L143.139 37.7428Z" fill="white"/>
    <path class="energy-value energy-value__6" d="M141 33.5L77 33.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__6" fill="#0D0D0D" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="144.758" y="35.5865">A+</tspan></text>

    <text fill="white" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="54" y="21.0865">A++</tspan></text>
    <path d="M49.2842 15H0V23.7428H49.2842V15Z" fill="url(#paint6_linear)"/>
    <path class="energy-value energy-value__7" d="M143.139 23.7428H157.991V15H143.139L139 19.4415L143.139 23.7428Z" fill="white"/>
    <path class="energy-value energy-value__7" d="M141.393 19.5L70.0595 19.5" stroke="white" stroke-width="0.523829" stroke-miterlimit="10"/>
    <text class="energy-value energy-value__7" fill="#0D0D0D" xml:space="preserve" style="white-space: pre"  font-size="7.64286" letter-spacing="-0.05em"><tspan x="143" y="21.5865">A++</tspan></text>
    <defs>
        <linearGradient id="paint0_linear" x1="-1.19521" y1="47.4931" x2="68.4371" y2="47.2497" gradientUnits="userSpaceOnUse">
            <stop stop-color="#8DC63F"/>
            <stop offset="1" stop-color="#39B54A"/>
        </linearGradient>

        <linearGradient id="paint1_linear" x1="-1.39442" y1="61.5153" x2="80.1606" y2="61.2349" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FBB040"/>
            <stop offset="1" stop-color="#F9ED32"/>
        </linearGradient>

        <linearGradient id="paint2_linear" x1="-1.58624" y1="74.5374" x2="90.9175" y2="74.2201" gradientUnits="userSpaceOnUse">
            <stop stop-color="#F47721"/>
            <stop offset="1" stop-color="#FBB040"/>
        </linearGradient>

        <linearGradient id="paint3_linear" x1="-1.79282" y1="88.5595" x2="103.135" y2="88.198" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C8161D"/>
            <stop offset="1" stop-color="#F7941D"/>
        </linearGradient>

        <linearGradient id="paint4_linear" x1="-1.9994" y1="102.582" x2="114.977" y2="102.176" gradientUnits="userSpaceOnUse">
            <stop stop-color="#A01622"/>
            <stop offset="1" stop-color="#ED1C24"/>
        </linearGradient>

        <linearGradient id="paint5_linear" x1="-1.00339" y1="33.4784" x2="57.4957" y2="33.2792" gradientUnits="userSpaceOnUse">
            <stop stop-color="#00A14B"/>
            <stop offset="1" stop-color="#00833C"/>
        </linearGradient>

        <linearGradient id="paint6_linear" x1="-0.841077" y1="19.4562" x2="47.9119" y2="19.2865" gradientUnits="userSpaceOnUse">
            <stop stop-color="#006838"/>
            <stop offset="1" stop-color="#005D32"/>
        </linearGradient>
    </defs>
</svg>
    