<div class="passport">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="title passport__title">Это ваш паспорт окна.</div>

                <div class="passport__location-wrapper">
                    <div class="passport__location">Окно для кухни</div>
                </div>

                <div class="passport__info">
                    <div class="passport__info-label">Номер заказа</div>
                    <div class="passport__info-value passport__order">554-677-123</div>
                </div>

                <div class="passport__info">
                    <div class="passport__info-label">Дата заказа</div>
                    <div class="passport__info-value passport__date">20.06.2021</div>
                </div>

                <div class="passport__info">
                    <div class="passport__info-label">Номер паспорта</div>
                    <div class="passport__info-value passport__number">2021-4241-1873</div>
                </div>

                <div class="passport__info">
                    <div class="passport__info-label">Продавец</div>
                    <div class="passport__info-value passport__agent">Московские окна</div>
                </div>

                <div class="passport__pdf">
                    Чтобы получить PDF-документ с паспортом вашего окна пройдите по 
                    <a class="link link--green passport__pdf-link" href="#" target="__blank">ссылке</a>
                </div>
            </div>
                
            <div class="column">
                <div class="passport-bars passport-bars--darken">
                    <div class="passport__bars-wrapper">
                        <div class="passport-bars__energy">
                            <%- require('/html/partials/passport/properties/energy-panel.html').default %>
                        </div>
                        <div class="passport-bars__properties">
                            <%- require('/html/partials/passport/properties/circle-bars.html').default %>
                        </div>
                    </div>

                    <div class="passport__components">
                        <div class="passport__component">
                            <div class="passport__component-label">Профиль</div>
                            <div class="passport__component-value passport__profile">GENEO цветной</div>
                        </div>
    
                        <div class="passport__component">
                            <div class="passport__component-label">Стеклопакет</div>
                            <div class="passport__component-value passport__glass">4 Stopsol Phoenix-14-4-14-33.1</div>
                        </div>
    
                        <div class="passport__component">
                            <div class="passport__component-label">Фурнитура</div>
                            <div class="passport__component-value passport__accessories">NT Designo II: RC1, RC2, RC3, TF; Ручка Swing/Line</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>