<div id="ready-solutions" class="tab-content ready-solutions container--blue container--padding-large is-hidden">
    <div class="columns is-desktop">
        <div class="column is-5-desktop">
            <div class="ready-solutions__title title--lined title--lened-offset">Готовые решения</div>
            <div class="ready-solutions__description text">
                Воспользуйтесь нашей галлереей готовых окон с паспортом,
                среди которых вы обязательно найдёте то, что нужно.
            </div>
        </div>

        <div class="column">
            <!-- Start Carousel -->
            <div class="carousel ready-solutions__carousel">
                <div class="carousel__arrow carousel__arrow--left"></div>
                <div class="carousel__items">
                    <div class="carousel__item">
                        <div class="ready-solutions__image ready-solutions__image--optimal"></div>
                        <div class="ready-solutions__type">Оптимальный выбор</div>
                        <div class="button ready-solutions__button overlay__open" data-target="ready-solutions" data-overlay="ready-solutions__optimal">
                            <div class="button__link">Подробнее</div>
                        </div>
                    </div>

                    <div class="carousel__item is-hidden">
                        <div class="ready-solutions__image ready-solutions__image--optimal"></div>
                        <div class="ready-solutions__type">Оптимальный выбор 2</div>
                        <div class="button ready-solutions__button overlay__open" data-target="ready-solutions" data-overlay="ready-solutions__optimal">
                            <div class="button__link">Подробнее</div>
                        </div>
                    </div>

                    <div class="carousel__item is-hidden">
                        <div class="ready-solutions__image ready-solutions__image--optimal"></div>
                        <div class="ready-solutions__type">Оптимальный выбор 3</div>
                        <div class="button ready-solutions__button overlay__open" data-target="ready-solutions" data-overlay="ready-solutions__optimal">
                            <div class="button__link">Подробнее</div>
                        </div>
                    </div>
                </div>
                <div class="carousel__arrow carousel__arrow--right"></div>
            </div>
            <!-- End Carousel -->
           
        </div>
    </div>
    
    <!-- Готовые решения -->
    <%- require('/html/partials/solutions/optimal.ejs')({ id: "ready-solutions__optimal"}) %>
</div> 