<div id="liders-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal__close-button"></div>
        <div class="title--lined title--lened-offset mb-5">Лидеры отрасли</div>
        <p class="text mb-2">
            REHAU. Безграничная страсть к инновациям.
        </p>
        <p class="text mb-2">
            Главной целью компании REHAU является разработка инновационных решений на основе современных полимеров.
            Многообразие эффективных технологий сделало компанию лидером индустрии производства оконных профилей, которые обеспечивают оптимальное сочетание эстетики
            и функциональности. 
        </p>
        <p class="text mb-2">
            Roto. Качество, возведенное в абсолют.
        </p>
        <p class="text mb-2">
            Немецкий концерн Roto Frank является лидером по производству поворотно-откидной фурнитуры
            для окон. Сегодня каждое третье окно в России обладает фурнитурой Roto: качественной, функциональной и долговечной. 
            Процесс производства на всех предприятиях организован
            с немецкой точностью, что гарантирует знак «German made».
        </p>
        <p class="text mb-2">
            AGC. Заглянуть за горизонт.
        </p>
        <p class="text">
            Крупнейший в мире производитель стекла, занимающий передовые позиции более, чем в тридцати странах мира. 
            Предприятия AGC в России располагают самым высокотехнологичным оборудованием, чтобы создавать продукцию и решения, которые делают жизнь людей лучше и уютнее.
        </p>
      </div>
    </div>
</div>