<div id="simple-choice-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal__close-button"></div>
        <div class="simple-choice-modal__title title--lined title--lened-offset mb-5">Простой выбор для многолетней эксплуатации</div>
        <p class="text mb-2">
            Получите комплектацию с проверенными скрытыми элементами, которые обеспечат долговечность при эксплуатации.
            Окна с паспортом содержат всю информацию о приобретенном окне или двери с указанием профильной системы, стеклопакета и фурнитуры.
            При этом все свойства оконных и дверных блоков в данных комбинациях были экспериментально проверены
            и зафиксированы в протоколах испытаний, которые легли в основу Системных паспортов производителей.
        </p>
        <p class="text mb-2">
            Электронный конфигуратор поможет составить формулу вашего идеального окна!
        </p>
      </div>
    </div>
</div>