<div id="warranty-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal__close-button"></div>
        <div class="warranty-modal__title title--lined title--lened-offset mb-5">Увеличенная гарантия и подтвержденное качество</div>
        <p class="text mb-2">
            Контроль качества на уровне производителей позволяет европейской системе проводить более глубокие и всесторонние испытания, 
            которые гарантируют надежность и долговечность оконного изделия в будущем. 
            Технические характеристики окон, выпускаемых с паспортом, подтверждены
            и сертифицированы в независимом институте окна IFT Rosenheim,
            который признан во всей Европе как институт проверки, контроля и сертификации.
            Кроме того, он аккредитован на международном уровне согласно немецкому промышленному стандарту DIN EN ISO/IEC 17025. 
        </p>
        <p class="text mb-2">
            Цель института IFT Rosenheim — это непрерывное улучшение качества продуктов, конструкций
            и технологий, а также работы в области нормирования и исследования. Таким образом,
            сертификация института обеспечивает общеевропейское признание.
        </p>
      </div>
    </div>
</div>