// Библиотеки
@import '~modern-css-reset/dist/reset.min.css';
@import '~bulma/css/bulma.css';
@import '~bulma/sass/utilities/mixins.sass';
@import '~bulma-pageloader/dist/css/bulma-pageloader.min.css';
@import "~nouislider/distribute/nouislider.min.css";

// Шрифты, переменные, примеси
@import './common/fonts.scss';
@import './common/variables.scss';
@import './common/mixins.scss';

// UI
@import './common/ui/index.scss';

// Логотипы
@import './common/logotips.scss';

// Основная тема
@import './partials/template.scss';

// Шапка сайта
@import './partials/header.scss';

// Заголовок сайта
@import './partials/headline.scss';

// Основные преимущества
@import './partials/benefits.scss';

// Подбор окна, вкладки
@import './partials/window_tabs/clear_choice.scss';
@import './partials/window_tabs/ready_solutions.scss';
@import './partials/window_tabs/configurator.scss';
@import './partials/window_tabs/call_apply.scss';

// Паспорт окна
@import './partials/passport_bars.scss';

// Проверка паспорта окна
@import './partials/passport_check.scss';

// Карта дилеров
@import './partials/dealers_map.scss';

// Обратная связь
@import './partials/feedback.scss';

// Модальные окна
@import './partials/modals/warranty.scss';
@import './partials/modals/simple-choice.scss';
@import './partials/modals/window-hint.scss';

// Подвал сайта
@import './partials/footer.scss';